<div class="content-wrapper">
	<div class="grid grid-pad">
		<div class="col col-1-1">
			<div class="content">
				<h1 id="h1">Репетитор английского в&#160;Тушино</h1><p class="larger bolder">&#171;С нуля&#187;, подтянуть, улучшить, подготовка к&#160;ЕГЭ. Преподаю английский школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;<a href="#/map">Тушино</a>. Напишите мне <a href="#/feedback">здесь</a> или в&#160;<a href="https://vk.com/sergeydavydow">ВКонтакте</a>!</p>
			</div>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col col-1-3">
			<div class="content">
				<h2 id="a1">&#171;С нуля&#187;, подтянуть</h2>
				<!-- <p><a href="#" class="include-html-anchor" data-url="./includes/demo_ege2.html" data-target="test-include">sdsdsdsds</a></p>
				<div id="test-include"></div> -->
				<p><img class="serguei-picture-640x356" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFkAQMAAACKPhhpAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADJJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwYHCkAAEsv+mwAAAAAElFTkSuQmCC"></p>
				<p class="hyphenate text" lang="ru">Работал переводчиком в&#160;различных некоммерческих организациях (Врачи без границ, United Way, ВКБ ООН и&#160;др.). В&#160;настоящий момент преподаю английский школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино. Также увлекаюсь веб-разработкой, принимаю заказы на&#160;сайты-визитки. Напишите мне <a href="#/feedback">здесь</a> или в&#160;<a href="https://vk.com/sergeydavydow">ВКонтакте</a>!</p>
				<h2 id="a2">Приоритеты</h2>
				<p class="hyphenate text" lang="ru">Решающим фактором является <a href="https://www.native-english.ru/articles/views">высокая мотивация</a> и&#160;готовность вновь &#171;влезть в&#160;шкуру ученика&#187;, т.е. домашнее заданее придется выполнять, а&#160;слова&#160;&#8212; учить. Основной упор делается на&#160;грамматику, если не&#160;удается безупречное произношение&#160;&#8212; не&#160;велика беда, поскольку это удел профи. Но&#160;вот безграмотная речь&#160;&#8212; преступление.</p>
				<h2 id="a4">Подготовка к&#160;ЕГЭ</h2>
				<p class="hyphenate text" lang="ru">Студентам, сдающим государственный экзамен, лучше начать подготовку к&#160;тестам минимум за&#160;год.</p>
				<h2 id="a6">Практика</h2>
				<p class="hyphenate text" lang="ru">Факультативное <a href="http://www.kino35mm.ru/">посещение кино на&#160;английском</a>&#160;&#8212; хороший метод развивать навыки аудирования.</p>
			</div>
		</div>
		<div class="col col-1-3">
			<div class="content">
				<h2 id="a8">Телефон</h2>
				<p><span class="contacts-qr-code-img hide-on-mobile"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 21" enable-background="new 0 0 21 21" xml:space="preserve"><rect shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="7" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/></svg></span><br class="hide-on-mobile" />&#43;&#55; (&#57;&#50;&#54;) &#48;&#54;&#55;&#8212;&#48;&#56;&#53;&#55;</p>
				<!-- <h2 id="a9">Почта</h2>
				<p><span class="contacts-qr-code-img hide-on-mobile"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve"><rect shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="1" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="2" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="3" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="4" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="5" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="6" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="7" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="8" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="7" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="9" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="10" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="11" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="12" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="7" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="13" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="14" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="7" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="15" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="7" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="16" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="17" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="18" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="19" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="20" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="14" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="21" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="15" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="20" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="22" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="10" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="17" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="22" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="23" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="23" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="1" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="2" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="3" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="4" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="5" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="6" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="8" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="9" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="11" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="12" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="13" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="16" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="18" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="19" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="21" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/><rect x="24" y="24" shape-rendering="optimizeSpeed" fill="#363636" width="1" height="1"/></svg></span><br class="hide-on-mobile" />&#101;&#110;&#103;&#108;&#105;&#115;&#104;&#101;&#120;&#116;&#114;&#97;&#64;&#121;&#97;&#110;&#100;&#101;&#120;.&#114;&#117;</p>
				 --><h2 id="a7">Адрес</h2>
				<div><button class="button-larger fit-width" id="btn-show-ymap" onclick="loadYandexMapOnClick(&quot;ymap&quot;);return !1;">Показать на карте</button></div>
				<div class="ymap" id="ymap" data-center="[55.841608306208684,37.45720129160105]" data-zoom="16" data-btnshow="btn-show-ymap" data-btndestroy="btn-destroy-ymap"></div>
				<h2 id="a3">Расписание</h2>
				<p class="hyphenate text" lang="ru">Прежде чем договариваться о&#160;занятиях (см.&#160;<a href="#/schedule">Расписание</a>), <a href="#/level_test">пройдите тест</a>, чтобы понять, какой&#160;же уровень у&#160;Вас на&#160;текущий момент, и&#160;спланировать сроки обучения. Запишите те вопросы, которые вызвали у&#160;Вас сомнения.</p>
				<h2 id="a5">Условия</h2>
				<p><img class="serguei-dosflota-3-640x356" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFkAQMAAACKPhhpAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADJJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwYHCkAAEsv+mwAAAAAElFTkSuQmCC"></p>
				<p class="hyphenate text" lang="ru">Занятия проводятся на&#160;дому у&#160;преподавателя (<a href="#/map">рядом с &#171;ДК Салют&#187;</a>) по&#160;одному часу, минимум два раза в&#160;неделю. Три&#160;раза&#160;&#8212; это максимум. Стоимость обучения при посещении не&#160;менее двух раз в&#160;неделю&#160;&#8212; 800&#160;руб&#160;/ 60&#160;мин взрослым, 700&#160;руб&#160;/ 60&#160;мин детям (см.&#160;<a href="#/schedule">Расписание</a>).</p>
			</div>
		</div>
		<div class="col col-1-3">
			<div class="content">
				<h2>Пособия</h2>
				<h3>Essential Grammar in&#160;Use</h3>
				<p><a href="https://www.ozon.ru/context/detail/id/33773141/"><img class="books-essential-grammar-in-use" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgkAAAK8AQMAAABfq759AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAERJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAvBrc0AAE3vpjfAAAAAElFTkSuQmCC"></a></p>
				<p><cite>&#8220;The world&#8217;s best-selling grammar series for learners of English. Essential Grammar in Use Fourth edition is a self-study reference and practice book for elementary-level learners (A1-B1), used by millions of people around the world. With&#160;clear examples and easy-to-follow exercises, it is perfect for independent study, covering all the areas of grammar you will need at this level. This&#160;edition includes an eBook, for use on tablet devices and desktop and laptop computers. The&#160;eBook has the same grammar explanations and exercises found in the printed book, plus other great features such as integrated audio for all of the example sentences and an easy-to-use answer key.&#8221;</cite></p>
				<h3>Грамматика. Сборник упражнений</h3>
				<p><a href="https://www.ozon.ru/context/detail/id/5524498/"><img class="books-golitsynsky-exercises" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgkAAANEAQMAAAAAHS69AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAE1JREFUeNrtwYEAAAAAw6D5U5/gBlUBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDNrMAAGlAykGAAAAAElFTkSuQmCC"></a></p>
				<p><cite>&#171;Сборник упражнений по&#160;всем разделам английской грамматики. Упражнения основаны на&#160;несложной лексике. Они&#160;содержат достаточно материала для запоминания основных грамматических форм и&#160;выработки навыков их&#160;применения. Дополнен теоретическим материалом и&#160;словарем.&#187;</cite></p>
			</div>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col col-1-1">
			<div class="footer">
				<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company. <a href="https://englishextra.github.io/serguei/#/feedback">Обратиться к&#160;редактору ресурса</a> &#169;&#160;englishextra, 2006&#8212;2016</p>
			</div>
		</div>
	</div>
</div>
